@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #181b2d;

  .WeatherApp {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #2a2e43;
    box-shadow: 0rem 0rem 0.5rem 0.2rem #141726;

    h1 {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    div {
      width: 300px;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      border-top: 3px solid #31364b;

      input {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.8rem;
        color: white;
        border-radius: 0.5rem;
        background-color: #31364b;
      }

      button {
        border: none;
        cursor: pointer;
        color: white;
        padding: 0.5rem;
        transition: 0.3s;
        border-radius: 0.5rem;
        background-color: #454f63;
        box-shadow: 0rem 0.2rem 0.5rem 0.2rem #1417264f;

        &:hover {
          background-color: #665eff;
        }
      }
    }
  }

}
